html {
    background-image: url(imagens/mountain_background.jpg);
    background-size: auto;
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
    width: 82%;
    margin: auto;
    margin-top: 0px;
    border-top: 2px solid #ffbb2f;
 
    font-family: "Acme", sans-serif;
}

header{
    background-image: url(imagens/header_background.jpg);
    background-size: 85%
}
header img {
    width: 15%;
    padding: 2%
}

#list-topo {
    background-image: linear-gradient(black, #1c1c1c, #1c1c1c);
    padding: 10px;
    margin-top: 0;
}
#list-topo li {
    display: inline;
}
#list-topo li a{
    color: #8000ff;
    font-size: 2vw;
    letter-spacing: -2PX;;
    text-decoration: none;
    margin-right: 20px;
    padding: 9px 0px;
}
#list-topo li a:hover {
    border-bottom: 3px solid #3498DB ;
}
#list-topo .bruxo:hover{
    color: #8b008b;
}
#list-topo .cacador:hover{
    color: #6b8e23;
}
#list-topo .druida:hover{
    color: orange;
}
#list-topo .guerreiro:hover{
    color: #c79c6e;
}
#list-topo .ladino:hover{
    color: #ffff69;
}
#list-topo .mago:hover{
    color: #69ccf0;
}
#list-topo .sacerdote:hover{
    color: #ffffff;
}
#list-topo .sobre:hover, .home:hover {
    color: #a040ff;
    text-shadow: 1px 1px 30px #a040ff;
}

section {
    width: 90%;
    margin: 30px auto;
}

.conteudo-principal, .conteudo-secundario {
    width: 49.9%;
    box-sizing: border-box;
    color: white;
    position: relative;
    text-shadow: 2px 2px 2px black;
}

.conteudo-principal:hover h2, .conteudo-secundario:hover h2{
    color: #F1CE21;
}

.conteudo-principal:hover .descricao, .conteudo-secundario:hover .descricao{
    height: 174px;
}

.conteudo-principal {
    float: left;
    height: 350px;
    background: red;
}

.conteudo-secundario {
    float: right;
    height: 174px;
    background:aqua;
    margin-bottom: 2px
}

#c1 {
    background: url(imagens/wow_classic.jpg) center;
    background-size: 100% 100%;
}

#c2 {
    background: url(imagens/back2.jpg) top right;
    background-size: 100% 100%;
}
#c3 {
    background: url(imagens/back1.jpg) bottom left;
    background-size: 100% 100%;
}

.descricao {
    background-color: rgb(0,0,0,0.55);
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 0.9em;
}

.descricao span {
    color: #A113C5;
}

.descricao h2, .descricao p {
    margin: 0;

}

.descricao p {
    padding: 7px 0;
    border-bottom: 1px solid #D852FA;
    margin-bottom: 10px;
}

.descricao h2 {
    font-size: 2vw;
}

#guia {
    margin: 20px 0;
    padding-bottom: 15px;
    border-bottom: 3px solid purple;
}

#guia h2 {
    padding-left: 65px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(imagens/icon1.png) no-repeat left center;
    background-size: 60px 55px;
    font-size: 20px;
    color: #F2CA00;
    word-spacing: 3.5px;
}

#cont-guia {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    background-image: url(imagens/mountain_background.jpg);
    border-radius: 20px;
    padding-left: 35px;

}

#list-guia {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.guia-imagem {
    width: 15.8%;
    height: 105px;
    float: left;
    margin-right: 0.2%;
    font-size: 12px;
    background: red;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 5px;
    border: 1.5px solid #fff;
    border-radius: 5px; 
}

.g1 {
    background: url(imagens/artefact.jpg) center top;
    background-size: cover;
}

.g2 {
    background: url(imagens/fly.jpg) center right;
    background-size: cover;
}
.g3 {
    background: url(imagens/leveling.jpg) center right;
    background-size: cover;
}
.g4 {
    background: url(imagens/mount1.jpg) center left;
    background-size: cover;
}
.g5 {
    background: url(imagens/mount2.jpg) center;
    background-size: cover;
}
.g6 {
    background: url(imagens/beginners.jpg) center;
    background-size: cover;
}

.texto-imagem h3 {
    margin:0;
    padding-top: 10px;

}
.texto-imagem {
    box-sizing: border-box;
    height: inherit;
    padding: 0px 15px;
    text-align: center;
    background-color: rgb(1,1,1,0.2);
}

.guia-imagem:hover {
    border-color: #F2CA00;
}
.guia-imagem:hover .texto-imagem {
    background-color: rgb(1,1,1,0);
    color: #F1CE21;
}


@media screen and (max-width: 700px) {
    body {
        width: 100%;
    }
    header img {
        height: 90px;
    }
    #list-topo li
    {
        display: block;
        text-align: center;
        border: 3px solid #D3D3D3;
        border-radius: 14px;
        margin-bottom: 5px;
    }
    #list-topo li a
    {
        font-size: 4vw;
        margin: 0;
        text-align: center;
    }
    
    .conteudo-principal, .conteudo-secundario {
        width: 100%;
        margin-bottom: 15px;
    }
    
    .descricao h2 {
        font-size: 20px;
    }
    
    .guia-imagem {
        width: 47%;
        margin-right: 2%;
    }
    
    .guia-imagem h3 {
       padding-top: 45px
    }

}